<!DOCTYPE html>
<html lang="en">

<head>

    {% block head %}
        
        <title> QueryViewer -{% block title %} Search{% endblock %}</title>
    
    {%endblock%}

        <link rel="stylesheet" href="{{ url_for('static', filename='generalStyle.css') }}">
    <div class="error_div">
        <h1 class="error">{% if Error is defined %} 
                {{Error}} 
            {% endif %}</h1>
    </div>
    
</head>

<body>
      <div id="content"> 
            {%block content%}
            {% include "searchForm.html" %}
            {%endblock%} 
    </div>
    
</body>



</html>